.wrapper {
    margin-top: 5rem !important;
  background-color: #1e293b;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 400px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.submitButton {
  width: 100%;
  height: 50px;
  background-color: #0df2f2;
  border: none;
  border-radius: 0.75rem;
  color: #102323;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1rem;
  transition: filter 0.3s;
}

.submitButton:hover {
  filter: brightness(1.1);
}
