
.navbar-dark .navbar-nav .nav-link:hover {
  color: #66fcf1 !important;
}

.btn-info {
  background-color: #66fcf1 !important;
  border-color: #66fcf1 !important;
}

.btn-outline-info:hover {
  background-color: #66fcf1 !important;
  color: #0b132b !important;
}

